//
// GNE reference component
//

// GNE reference default styles.
$gne-reference-include-styles: true !default;
$gne-reference: ".gne-reference" !default;

@mixin gne-reference-small-up {
  #{$gne-reference} {

    background-color: whitesmoke;
    padding: 1rem;

    &__label {
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.01em;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
      font-weight: bold;
    }

    &__value {
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.01em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

@mixin gne-reference {
  @include gne-reference-small-up;
}

@if ($gne-reference-include-styles) {
  @include gne-reference;
}
